@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title"> Videoteka </h1>
        <p class="lead"> Dobrodosli na zvanicnu stranicu Videoteke. </p>
    </section>
</main>