
@{
    ViewBag.Title = "Kupci";
}

<h2> Kupci </h2>

<table id="kupci" class="table table-bordered table-hover table-primary">
    <thead>
        <tr>
            <th scope="col"> Kupac </th>
            <th scope="auto"> Prima Obavjestenja </th>
            <th scope="auto"> Datum Rodjenja </th>
            <th scope="auto"> Tip Clanstva </th>
            <th scope="auto"> Tip Kupca </th>
            <th scope="auto"> Izbrisi </th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $('#kupci').DataTable({
                ajax: {
                    url: "/api/kupci",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "ime",
                        render: function (data, type, kupac) {
                            return "<a href='/kupci/edit/" + kupac.id + "'>" + kupac.ime + "</a>";
                        }
                    },
                    {
                        data: "primaObavjestenja",
                        render: function (data) {
                            if (data) {
                                return "<i class=\"bi bi - check\"></i>";
                            }
                            return "<i class=\"bi bi - x\"></i>";
                        }
                    },
                    {
                        data: "datumRodjenja",
                        render: function (data) {
                            var date = new Date(data);
                            var month = date.getMonth() + 1;
                            return date.getDate() + "." + month + "." + date.getFullYear();
                        }
                    },
                    {
                        data: "tipClanstva.naziv"
                    },
                    {
                        data: "tipKupca.naziv"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-kupac-id=" + data + "> Izbrisi </button>";
                        }
                    }
                ]
            });

            $("#kupci").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Da li ste sigurni da zelite da izbrisete ovog kupca?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/kupci/" + button.attr("data-kupac-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                })
            })
        })
    </script>
}