
@{
    ViewBag.Title = "Index";
}

<h2> Filmovi </h2>

<button type="submit" class="btn btn-primary">
    @Html.ActionLink("Novi film", "Novi", "Filmovi", null, new { @class = "nav-link text-light" })
</button>
<br />
<br />

<table id="filmovi" class="table table-bordered table-hover table-primary">
    <thead>
        <tr>
            <th scope="col"> Film </th>
            <th scope="auto"> Zanr </th>
            <th scope="auto"> Datum Unosa </th>
            <th scope="auto"> Datum Izdanja </th>
            <th scope="auto"> Broj Na Stanju </th>
            <th scope="auto"> Broj Dostupnih </th>
            <th scope="auto"> Izbrisi </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $('#filmovi').DataTable({
                ajax: {
                    url: "/api/filmovi",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "naziv",
                        render: function (data, type, film) {
                            return "<a href='/filmovi/izmijeni/" + film.id + "'>" + film.naziv + "</a>";
                        }
                    },
                    {
                        data: "zanr.naziv"
                    },
                    {
                        data: "datumUnosa",
                        render: function (data) {
                            var date = new Date(data);
                            var month = date.getMonth() + 1;
                            return date.getDate() + "." + month + "." + date.getFullYear();
                        }
                    },
                    {
                        data: "datumIzdanja",
                        render: function (data) {
                            var date = new Date(data);
                            var month = date.getMonth() + 1;
                            return date.getDate() + "." + month + "." + date.getFullYear();
                        }
                    },
                    {
                        data: "brojNaStanju"
                    },
                    {
                        data: "brojDostupnih"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-film-id=" + data + ">Izbrisi</button>";
                        }
                    }
                ]
            });

            $('#filmovi').on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Da li ste sigurni da zelite da izbrisete ovaj film?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/filmovi/" + button.attr("data-film-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}