@model Videoteka.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<main aria-labelledby="title">
    <h2 id="title"> @User.Identity.Name.Substring(0, User.Identity.Name.LastIndexOf('@')) </h2>
</main>